
body{
    padding: 0;
    margin: 0;
    font-family: 'B612', sans-serif;
    font-size: 18px;
    line-height: 180%;
}

.navbar-brand{
    color: midnightblue !important;
}

.nav-link{
    font-size: 18px !important;
    margin-right: 8px !important;
}

.jumbo {
    font-weight: 700 !important;
    color: black !important;
}

.jumbotron{
    background-image: url("/images/dark-wall.png") !important;
}

.latest-posts-link a{
    color: #4f4d4d !important;
}

.latest-posts-link a:hover{
    color: black !important;
    text-decoration: none !important;
}

.latest-post:hover{
    border: 1px solid black !important;
}

.row.display-flex {
    display: flex;
    flex-wrap: wrap;
  }
.row.display-flex > [class*='col-'] > .card {
    display: flex;
    flex-direction: column;
}

.social-jumbo a{
    font-size: 55px;
    text-decoration: none;
    color: inherit;
}

.post a{
    color: #4f4d4d;
}

.post a:hover{
    color: black;
    text-decoration: none;
}

@media only screen and (max-width: 700px) {
    .display-4 {
      font-size: 30px !important;
    }

    .social-jumbo a{ 
        font-size: 30px !important;
    }
  }

.center-of-div{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
}

.hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: deeppink;
  height: 4px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

/* Sweep To Right */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: deeppink;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}