---
layout: default
home: True
---
<br><br><br>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-7">
      <h3 class="text-underlined">Latest Posts</h3>
      <hr>
      {% for post in site.posts %}
    <div class="post-list-item">
        <div style="width: 50%;" class="text-muted post-list-meta border rounded p-2 my-2">
          {% for category in post.categories %}
              <a href="/category/{{ category}}"><i>{{ category }}</i></a>
                  {% unless forloop.last %}, {% endunless %}
          {% endfor %} | {{ post.date | date: "%B %e, %Y" }}
      </div>
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
              <p>{{ post.excerpt }}</p>
          </div>
    <hr>
  {% endfor %}
    </div>
    <div class="col-md-5">
      <div class="rounded-lg bg-sec p-2">
        <h3 class="text-underlined">Experience</h3>
        <hr>
        <br>
        <div class="expr-list-item">
          <h6>Cloud Native Engineer - Intern <span class="float-right text-underlined">Semut Labs</span></h6>
          <p class="my-0 text-italic">April 2020 - June 2020</p>
        </div>
        <br><hr><br>
        <div class="expr-list-item">
          <h6>Google Summer of Code 2020 <span class="float-right text-underlined">MacPorts</span></h6>
          <p class="my-0 text-italic">May 2020 - Present</p>
        </div>
        <br><hr><br>
        <div class="expr-list-item">
          <h6>Google Summer of Code 2019 <span class="float-right text-underlined">MacPorts</span></h6>
          <p class="my-0 text-italic">May 2019 - Aug 2019</p>
        </div>
        <br><hr><br>
        <div class="expr-list-item">
          <h6>Full Stack Developer<span class="float-right text-underlined">DigiInfy</span></h6>
          <p class="my-0 text-italic">July 2018 - Mar 2019</p>
        </div>
        <br><hr><br>
        <h6>And freelance projects that I haven't kept a count of...</p>
      </div>
    </div>
  </div>
</div>  