---
layout: default
home: True
---
<br>
<div class="container mt-2">
  <div class="row">
    <div class="col-md-7 bg-article rounded py-4">
      <h2 class="text-dark">Latest Posts</h2>
      {% for post in site.posts limit:5 offset: 0 %}
      <div class="post-list-item">
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            <p style="font-size: 14px !important;" class="text-muted post-list-meta my-1">
              {% for category in post.categories %}
                <a href="/category/{{ category}}"><i>{{ category }}</i></a>
                  {% unless forloop.last %}, {% endunless %}
              {% endfor %} | {{ post.date | date: "%B %e, %Y" }}
            </p>
              <p>{{ post.excerpt }}</p>
        </div>
    <hr>
  {% endfor %}
        <a href="/blog/" class="btn btn-secondary">View all posts</a>
    </div>
    <div class="col-md-5 mt-2 mt-md-0">
      <div class="rounded-lg py-4 px-3">
        <h2 class="text-dark">Experience</h2>
        <hr style="background-color: #fc0">
        <div class="expr-list-item">
          <h5 class="text-dark">SDE-2 (DevOps)</h5>
          <p style="font-size:1rem !important" class="my-0 text-secondary">Apr 2022 - Present <span class="float-right text-warning text-underlined">Meesho</span></p>
        </div><br><hr style="background-color: #fc0">
        <div class="expr-list-item">
          <h5 class="text-dark">Sr. SDE</h5>
          <p style="font-size:1rem !important" class="my-0 text-secondary">May 2021 - Apr 2022 <span class="float-right text-warning text-underlined">MTX Group</span></p>
        </div><br><hr style="background-color: #fc0">
        <div class="expr-list-item">
          <h5 class="text-dark">DevOps Engineer - Intern</h5>
          <p style="font-size:1rem !important" class="my-0 text-secondary">Sept 2020 - Dec 2020 <span class="float-right text-warning text-underlined">MTX Group</span></p>
        </div><br><hr style="background-color: #fc0">
        <div class="expr-list-item">
          <h5 class="text-dark">Google Summer of Code 2020</h5>
          <p style="font-size:1rem !important" class="my-0 text-secondary">May 2020 - Present <span class="float-right text-warning text-underlined">MacPorts</span></p>
        </div>
        <br><hr style="background-color: #fc0">
        <div class="expr-list-item">
          <h5 class="text-dark">Google Summer of Code 2019</h5>
          <p style="font-size:1rem !important" class="my-0 text-secondary">May 2019 - Aug 2019 <span class="float-right text-warning text-underlined">MacPorts</span></p>
        </div>
        <br><hr style="background-color: #fc0">
        <div class="expr-list-item">
          <h5 class="text-dark">Full Stack Developer</h5>
          <p style="font-size:1rem !important" class="my-0 text-secondary">July 2018 - Mar 2019 <span class="float-right text-warning text-underlined">DigiInfy</span></p>
        </div>
        <br><hr style="background-color: #fc0">
        <h6>And freelance projects that I haven't kept a count of...</h6>
      </div>
    </div>
  </div>
</div>  
