<div class="container text-center">
        <h4>Latest Posts from the Blog</h4><hr>
        <div class="row">
            {% for post in site.posts limit:3 offset: 0 %}
            <div class="col-lg-3 pt-2">
                    <div class="card latest-post h-100">
                            <img src="{{ site.baseurl }}/images/posts/{{ post.image }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4 class="card-title latest-posts-link"><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h4>
                                <a href="#" class="btn btn-warning">Read More</a>
                            </div>
                        </div>
            </div>
            {% endfor %}
        </div>
    </div>