<nav class="navbar navbar-expand navbar-light">
    <div class="container">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if page.url == '/' %}active{% endif %}">
                    <a class="nav-link" href="/">HOME</a>
                </li>
                <li class="nav-item mx-2 d-none d-md-block {% if page.url == '/about/' %}active{% endif %}">
                    <a class="nav-link" href="/about/">ABOUT</a>
                </li>
                <li class="nav-item mx-2 {% if page.url == '/projects/' %}active{% endif %}">
                    <a class="nav-link" href="/projects/">PROJECTS</a>
                </li>
                <li class="nav-item mx-2 d-none d-md-block {% if page.url == '/contact/' %}active{% endif %}">
                    <a class="nav-link" href="/contact/">CONTACT</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mr-2">
                    <a href="/blog/" class="btn {% if page.url == '/blog/' %}btn-warning{% else %}btn-outline-warning{% endif %}">BLOG</a>
                </li>
            </ul>
        </div>
    </nav>
