<!doctype html>
<html lang="en">
  <head>
      {% include analytics.html %}
    {% include meta.html %}
  </head>
  <body>
		{% include nav.html %}				
		<div class="container bg-site shadow text-center" style="padding: 20px;">
        <h1 class="heading-site">Category: <span class="text-underlined">{{page.category}}</span></h1>
        <p>You are now viewing the posts published under {{ page.category }}.</p>
		</div>
                <div class="container">
                    {{ content }}
					<br>
                    {% for post in site.categories[page.category] %}
                    <article class="post-list-item">
                      <div class="row">
                        <div class="col-lg-4 col-md-4 text-center">
                          <img src="{{ site.baseurl }}/images/posts/{{ post.image }}" style="max-width:65%">
                        </div>
                        <div class="col-lg-8 col-md-8 post-list-item">
                            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                            <p style="font-size: 13px !important;" class="text-muted post-list-meta my-1">
                              {% for category in post.categories %}
                                <a href="/category/{{ category}}"><i>{{ category }}</i></a>
                                  {% unless forloop.last %}, {% endunless %}
                              {% endfor %} | {{ post.date | date: "%B %e, %Y" }}
                            </p>
                              <p>{{ post.excerpt }}</p>
                        </div>
                      </div>
                    </article>
                    <hr>
                  {% endfor %}
                </div>
				<br><br>
				{% include footer.html %}
  </body>
</html>