<!doctype html>
<html lang="en">
  <head>
    {% include analytics.html %}
	  {% include meta.html %}
  </head>
  <body class="body">
	  {% include nav.html %}
	  <div class="container bg-success sep-bar mt-3"></div>
    <div class="container bg-site shadow-sm">
		<div class="d-flex flex-row bd-highlight">
        <div class="flex-fill bd-highlight">
          <img src="/images/arjun_salyan.png" class="default-picture">
        </div>
        <div class="p-3 bd-highlight">
          <h1 class="title-site">Hi, I am Arjun!</h1>
          <p class="text-site d-xl-block d-lg-block d-md-block d-none">I am passionate about solving problems. <strong>Full stack development, cloud computing proficiency and technical writing</strong>
			  are some handy tools which I had to excel in to achieve my ever growing hunger for solving a user's problem. 
			  Oh, and I am a pre-final year engineering student at IIT (BHU), Varanasi.
			</p>
			<p class="text-site d-lg-none d-xl-none d-md-none">Full stack development, cloud computing proficiency and technical writing</strong>
				are my tools to solve the biggest problems.</p>
	</div>
</div>
</div>
<div class="container">
	<a href="/about/" class="btn btn-sm btn-warning mt-3 mb-4">
		About Me
	  </a>
	<a href="/blog/" class="btn btn-sm btn-success mt-3 mb-4">
		Connect
	</a>
	
</div>
{{content}}
                {% include footer.html %}
  </body>
</html>
