<!doctype html>
<html lang="en">
  <head>
    {% include analytics.html %}
	  {% include meta.html %}
  </head>
  <body class="body">
	<div class="container mt-lg-2 pt-4">
		<h1 class="text-center mt-2 pt-4">Hi, I am Arjun!</h1>
		<p class="text-center">I love creating things, I have to call myself a developer.</p>
		<br>
		<div class="row" style="margin-top: 60px;">
			<div class="col-md-6 col-12 mt-2">
				<div class="rounded bg-sec">
					<div class="row">
						<div class="col-12 text-center">
							<div style="height: 60px;">
							<img style="margin-top: -60px ;" height="120px" src="/images/arjun_circle.png">
						</div>
						</div>
						<div class="col-12 p-4 text-md-left text-center">
							<h5 class="text-site-sec">A little about me...</h5>
							<p>I am an engineering student at IIT (BHU), Varanasi. I am a fan of solving problems and
							developing stuff. Figuring out the better way of doing things and serving needs keeps me going, and to fullfil
							this I exceled at application development. I wrote my first website in secondary school and never stopped since then...
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-12 text-center mt-2">
				<div style="height: 100%;" class="bg-sec rounded">
					<div class="row">
						<div class="col-12">
							<ul class="nav site-home-nav flex-column mt-1">
								<li class="nav-item">
								<a class="nav-link site-bottom-border text-secondary" href="/blog">Continue to my blog</a>
								</li>
								<li class="nav-item">
								<a class="nav-link site-bottom-border text-secondary" href="/projects">Projects</a>
								</li>
								<li class="nav-item">
								<a class="nav-link site-bottom-border text-secondary" href="/about">About me</a>
								</li>
								<li class="nav-item">
									<a class="nav-link site-bottom-border text-secondary" href="/contact">Let's Connect?</a>
								</li>
							</ul>
						</div>
						<div class="col-12">
							<div class="social-icons-hero my-2">
								<a href="#" class="mx-3"><i class="fab fa-github"></i></a>
								<a href="#" class="mx-3"><i class="fab fa-linkedin"></i></a>
								<a href="#" class="mx-3"><i class="fab fa-twitter"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
		<hr>
		<br>
		<h4 class="text-underlined">My Technical Stack</h4>
		<div class="row text-center">
			<div class="col-md-3 mt-4">
				<div style="height: 100%;" class="col-12 bg-sec rounded-lg py-2">
				<h5 class="text-underlined text-site-sec">Languages & Tech:</h5>
				<p class="my-0">Python <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>
				<p class="my-0">C++ <i class="fa fa-star"></i><i class="fa fa-star"></i></p>
				<p class="my-0">Go <i class="fa fa-star"></i><i class="fa fa-star"></i></p>
				<p class="my-0">Javascript <i class="fa fa-star"></i></p>
				<p class="my-0">PostgreSQL <i class="fa fa-star"></i><i class="fa fa-star"></i></p>
				<p class="my-0">MongoDB <i class="fa fa-star"></i><i class="fa fa-star"></i></p>
				</div>
			</div>
			<div class="col-md-3 mt-4">
				<div style="height: 100%;" class="col-12 bg-sec rounded-lg py-2">
				<h5 class="text-underlined text-site-sec">Backend & Related:</h5>
				<p class="my-0">Django <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>
				<p class="my-0">Gin <i class="fa fa-star"></i></p>
				<p class="my-0">Laravel <i class="fa fa-star"></i></p>
				<p class="my-0">Express.JS</p>
				<p class="my-0">Solr</p>
				<p class="my-0">Redis</p>
				<p class="my-0">NGINX</p>
				</div>
			</div>
			<div class="col-md-3 mt-4">
				<div style="height: 100%;" class="col-12 bg-sec rounded-lg py-2">
				<h5 class="text-underlined text-site-sec">Frontend:</h5>
				<p class="my-0">React.JS</p>
				<p class="my-0">Vue.JS</p>
				<p class="my-0">React Native</p>
				<p class="my-0">Android Studio <i class="fa fa-question-circle"></i></p>
				</div>
			</div>
			<div class="col-md-3 mt-4">
				<div style="height: 100%;" class="col-12 bg-sec rounded-lg py-2">
				<h5 class="text-underlined text-site-sec">Platforms:</h5>
				<p class="my-0">AWS <i class="fa fa-star"></i></p>
				<p class="my-0">GCP <i class="fa fa-star"></i><i class="fa fa-star"></i></p>
				<p class="my-0">Azure</p>
				<p class="my-0">Firebase</p>
				<p class="my-0">Heroku</p>
				</div>
			</div>
		</div>
	</div>
	  
{{content}}
                {% include footer.html %}
  </body>
</html>
