<!doctype html>
<html lang="en">
  <head>
		{% include analytics.html %}
    {% include meta.html %}
  </head>
  <body>
		{% include nav.html %}	
		<div class="container bg-success sep-bar mt-3"></div>
		<div class="container bg-site shadow-sm text-center" style="padding: 20px;">
			  <h1 class="heading-site">{{page.title}}</h1>
		</div>
	<div class="container pt-3">
		<div class="post-meta">
			<p class="post-meta-avatar">
			  <span></span>
			  <span><img src="/images/arjun_circle.png" style="height:40px"></span>
			</p>
			<p class="post-meta-text">
			  <span></span>
			  <span style="font-size: 16px;" class="text-muted" >Arjun Salyan
			</span>
			</p>
		  </div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 bg-white shadow-sm bg-sec p-4 post-content">
				{{content}}
			</div>
			<div class="col-md-4 mt-5 mt-md-2">
					<h4 class="my-2 my-md-0 text-site-sec">Latest Posts</h4>
					<hr>
					{% for post in site.posts limit:3 offset: 0 %}
				  <div class="post-list-item">
						  <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
						  <p style="font-size: 13px !important;" class="text-muted post-list-meta my-1">
							  {% for category in post.categories %}
								  <a href="/category/{{ category}}"><i>{{ category }}</i></a>
									  {% unless forloop.last %}, {% endunless %}
							  {% endfor %} | {{ post.date | date: "%B %e, %Y" }}
						  </p>
							<p>{{ post.excerpt }}</p>
						</div>
				  <hr>
				{% endfor %}
			</div>
		</div>
	</div>
				<br>
				{% include footer.html %}
				</div>
  </body>
</html>